body {
  padding-top: 40px;
  font-family: 'Ysabeau SC', sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

#muchtext {
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 60%;
  font-size: 45pt;
  margin-bottom: 55px;
  font-family: 'Ysabeau SC', sans-serif;
}

p {
  width: 60%;

  margin-left: auto;
  margin-right: auto;
  position: center;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 20pt;
  text-align: center;
}
h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: center;
  text-align: center;
  font-size: 30pt;
  margin-bottom: 65px;
  font-family: 'Ysabeau SC', sans-serif;
}
a {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: center;
  text-align: center;
  font-size: 30pt;
  margin-bottom: 65px;
  font-family: 'Ysabeau SC', sans-serif;
}

image {
  padding-top: 75px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  body {
    text-align: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  body {
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  body {
    text-align: center;
  }
}
