body {
  background-color: #a2dd67;
  text-align: center;
  border-style: solid;
  padding-top: 40px;
  font-family: 'Ysabeau SC', sans-serif;
}

#muchtext {
  padding-left: 520px;
  padding-right: 520px;
  padding-bottom: 23px;
}

.title {
  font-size: 45pt;
  margin-bottom: 55px;
  font-family: 'Ysabeau SC', sans-serif;
}

body {
  position: static;
}

p {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 20pt;
  text-align: center;
}

a {
  text-align: center;
  font-size: 30pt;
  margin-bottom: 65px;
  font-family: 'Ysabeau SC', sans-serif;
}

image {
  padding-top: 75px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  body {
    background-color: #4dffe1;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  body {
    background-color: #1cacff;
  }
}
@media screen and (min-width: 600px) {
  body {
    background-color: #27ff93;
  }
}
